
body{
background:#ece5dd;
font-family:sans-serif;
}

.chat-wrapper{
height:100vh;
display:flex;
flex-direction:column;
}

.chat-header{
background:#075E54;
color:white;
padding:10px;
}

#messages{
flex:1;
overflow:auto;
padding:10px;
}

.msg-admin{
background:#DCF8C6;
padding:10px;
margin:5px;
border-radius:10px;
width:fit-content;
}

.msg-user{
background:white;
padding:10px;
margin:5px;
border-radius:10px;
width:fit-content;
}

.time{
font-size:10px;
text-align:right;
}

.input-area{
display:flex;
padding:10px;
background:white;
}

.input-area input{
flex:1;
border:none;
padding:10px;
}
